<html>

  <head>
    <title>hi</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>

  <body>
    <h1 class = "hi">Hi</h1>
    <h2 id = "hii">Hi</h2>
    <h6>Hi</h6>
  </body>

</html>